@page "/"

<NavComponent /> <!--går in och läser html från NavComponent.-->

@*<MenuComponent /> 
<CarouselComponent />
<CardListComponent />*@

<div id="viewpoint" class="d-flex vh-100">
    <AsideComponent/>
    <ProductComponent />
</div>

<!--
<header class="d-flex justify-content-between m-3">
    <div><img src="Images/logo.png" alt=" logo" /></div>
    <div class="input-group flex-nowrap search-width">
        <input type="text" class="form-control rounded-0" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
        <span class="input-group-text rounded-0" id="addon-wrapping"><i class="bi bi-search"></i></span>
    </div>
    <div class="d-flex justify-content-between ">
        <div class="dropdown">
            <button class=" rounded-0 btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-lock"></i> Account
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
        <div>
            <div class="position-relative">
                <button id="cart-button" type="button" class="btn btn-outline-success rounded-0"><i class="bi bi-cart"></i></button>
                <div class="cart-count bg-danger text-white rounded-circle position-absolute">3</div>
            </div>
            <div></div>
        </div>
    </div>
   
</header>

-----------------------------------------------------------------------------------------------------------

    - Olika styrkor:
    A-Kolumnen har alltid id, den starkaste knytning vi har. (i id="my icon" class="bi bi-cart"></i>)
    B-Kolumnen nyttjas när vi använder klasser, den näst starkaste knytningen. (.bi .bi-cart)
    C-Kolumnen nyttjas när man går direkt på en elementtyp, den svagaste knytningen. Man stylar med h1. 
      (<h1> Shoppa nu <i class="bi bi-cart"></i> </h1>)
    
    Flex = Hjälper oss styla kontainers, ändra directions, justera innehållet till vänster,central,höger. 
           Den kan rotera till mobilformat (byt från flex-row till flex-column)
----------------------------------------------------------------------------------------------------------

    <div class="h2">
        Text med rubrik tabell eller listor.
        <img class="img-fluid" scr="Images/logo.png" alt="Logga">
    </div>


    <div class="h2">    //när vi vill ha egen storlek och överstrida boostrap klassen
        <span class="h2 text-success">Text med rubrik tabell eller listor.</span> // text-success ger grön färg
        <img id="product-image-1" class="img-fluid" scr="Images/logo.png" alt="Logga">
    </div>


    <i class="bi bi-cart fs-1"></i>  //Kundvagn med större font


    <h1> 
        Shoppa nu <i class="bi bi-cart"></i> //Kundvagn med h1 font size
    </h1> //


    <i class="bi bi-cart"></i> //när vi gör den med egen Css. Vi kommer åt den här genom app.css


    -----------------------------------------------------------------------------------------------------------

     
    <header> class="d-flex justify-content-between mx-3 my-1">  //Allt innehåll i containern header vill vi ska få speciellt utseende.
       <div><img scr="Images/csspicture.png" alt="Css Bild" /></div>
       

     //version.1  (w-25)
     <div class="input-group flex-nowrap w-25">  //sökfält (w-25 = 25% bredden av skärmens utrymme)
         <input type="text" class="form-control rounded-0" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping"> // rounded-0 inga runda hörn i sökrutan.
         <span class="input-group-text rounded 0" id="addon-wrapping"><i class="bi bi-search"></i></span>
     </div>


     //version.2 (skapar klass i css för width)
     <div class="input-group flex-nowrap search-width">  //sökfält (bredden av skärmens utrymme) //input-group innehåller en gruppering
         <input type="text" class="form-control rounded-0" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping"> // rounded-0 inga runda hörn i sökrutan.
         <span class="input-group-text rounded 0" id="addon-wrapping"><i class="bi bi-search"></i></span>
     </div>


     <div class="d-flex justify-content-between "> // d-flex justify-content-between= Cart hamnar bredvid Dropdown, en separering mellan två delarna.

         <div class="input-group flex-nowrap search-width">  //sökfält (bredden av skärmens utrymme)  //ta bort ifall du inte vill ha en specifik bredd/ta bort gruppering eftersom vi använder dropdown.
            <span class="input-group-text rounded 0" id="addon-wrapping"></span> input-group-text rounded 0 //ta bort ifall du använder Lock-ikonen i samma ruta som dropdown

            <div class="dropdown">  //kod för en dropdown
            <button class=" rounded 0 btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"> //rounded 0 = tar bort rundningen från knappen.
                <i class="bi bi-lock"></i>Account  //<i class="bi bi-lock"></i> = Lock-iconen ligger i samma ruta som Dropdown (span class måste tas bort!!!)
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
         </div>
     </div>  //ta bort ifall du inte vill ha en specifik bredd/ta bort gruppering eftersom vi använder dropdown.

         <div> 
             <div class="position-relative">  //Denna enhet låter oss styla container tillsammans. Mellanrummet blir mellan dropdown och containern. Position-relative = måste vi lägga på containern (div) som innehåller cirkeln vi vill lägga ut. vi flyttar position-relativ hit istället för button raden under.
                 <button id="cart-button" type="button" class="btn btn-outline-success rounded 0"><i class="bi bi-cart"></button>  //skapat ett id för Cart-knappen(#cart-button) i Css. rounded 0 tar bort rundningen.
                 <div class="position-absolute top-0 end-0 translate-middle">3</div>    //här skriver vi en till div för att få siffran ovanför ikonen för antal produkter. 
                                                                                        //Position-absolut = använder man på det element man vill positionera ut, talar om exakt 
                                                                                        //vart den ska hamna i förhållande till containern den ligger i. Specifik div container.
                                                                                        //top-0 den att hamnar högst upp. end-0 längst till höger, Translate.middle = vi vill förskjuta den till mitten av containern.

                 <div class="cart-count bg-danger text-white rounded-circle position-absolute">3</div> //ett annat sätt att skapa egen styling med en klass(cart-count i css). bg-danger = bakgrundsfärg röd på knappen. text-white = vit textfärg. rounded-circle = rund ikon
             </div>
             <div></div>
         </div>
     </div>
   </header>

-->

